body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 780px;
    display: flex;
    flex-wrap: wrap;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.product-image {
    display: none;
}

.product-image.active {
    display: block;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.thumbnail.active {
    border: 2px solid #28a745;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    padding: 20px;
    flex: 1;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    color: #888;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}

.buy-now-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
    background-color: #218838;
}

.like-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-btn:hover {
    background-color: #218838;
}